
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageEmpty.cshtml";
}
<link href="~/Custom/LoginStyle.css" rel="stylesheet" />

<!--https://codepen.io/khadkamhn/pen/ZGvPLo/-->
<div class="login-wrap">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
    <div class="login-html">
        <label class="tab">Sign In</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="email" class="input" name="name" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" name="password" required>
                </div>
                <div class="placeHolderDiv" style="height:50px; width:100%"></div>
                <div class="group">
                    <input type="submit" class="button1" value="Login" required>
                </div>
            </div>
        </div>
        <p class="errorMessage">@ViewBag.ErrorMessage</p>
    </div>
    }
   
</div>




