<!DOCTYPE html>
<html>
<head>
    <!--DEFAULT-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

    <!--BOOTSTRAP-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <!--STYLES-->
    <link href="~/Custom/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            @Html.ActionLink("Admin start", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            <button class="btn btn-danger float-right" type="submit">Logout</button>

        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
