@model WebProject.Models.Event

@{
    ViewBag.Title = "CreateEvent";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />
<h2 class="h2_heading">Create Event</h2>

@using (Html.BeginForm("CreateEvent", "Organizer", FormMethod.Post))
{
    <div class="container" style="border:8px double purple ">
        <table class="table">
            <tr>
                <th>Event details</th>
            </tr>
            <tr>
                <td>Event Name</td>
                <td>
                    <input id="nameInput" type="text" name="Event_Name" />
                </td>
            </tr>
            <tr>
                <td>Visible</td>
                <td>
                    <input id="activeInput" type="checkbox" name="Event_Active" />
                </td>
            </tr>
            <tr>
                <td>Event Arranger Id</td>
                <td>
                    <input id="arrangerInput" type="number" name="Event_Arranger_Id" />
                </td>
            </tr>
            <tr>
                <td>Event Seeking Voulunteers</td>
                <td>
                    <input id="voulunteersInput" type="checkbox" name="Event_Seeking_Volunteers" value="true"/>
                </td>
            </tr>
            <tr>
                <td>Event Location Id</td>
                <td>
                    <input id="locationInput" type="number" name="Event_Facility_Id" />
                </td>
            </tr>

            <tr>
                    <td>Event Category</td>
                    <td>
                        @*<input type="number" name="Category_Id" value="1" />*@
                    <td> @Html.DropDownList("Category_Id", new SelectList(ViewBag.Category_Id, "Value", "Text")) </td>  
                </tr>
            <tr>
                <td>Event Description</td>
                <td>
                    <input id="descriptionInput" type="text" name="Event_Description" />
                </td>
            </tr>
            <tr>
                <td>Event Ticket Price</td>
                <td>
                    <input id="priceInput" type="number" name="Event_Ticket_Price" />
                </td>
            </tr>
            <tr>
                <td>Event Start Date</td>
                <td>
                    <input id="dateInput" type="datetime-local" width="10" class="date" name="Event_Start_Datetime" />
                </td>
            </tr>
            <tr>
                <td>Event End Date</td>
                <td>
                    <input id="dateInput" type="datetime-local" width="10" class="date" name="Event_End_Datetime" />
                </td>
            </tr>
        </table>
        <button type="submit">Create Event</button>
    </div>

    //Förslag på form

<div class="container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>         
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

</div>

}