@model WebProject.Models.Event

@{
    ViewBag.Title = "CreateEvent";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />
<h2 class="h2_heading">Create Event</h2>

@using (Html.BeginForm("CreateEvent", "Organizer", FormMethod.Post))
{
    <div class="container" style="border:8px double purple ">
        <table class="table">
            <tr>
                <th>Event details</th>
            </tr>
            <tr>
                <td>Event Name</td>
                <td>
                    <input id="nameInput" type="text" name="Event_Name" />
                </td>
            </tr>
            <tr>
                <td>Visible</td>
                <td>
                    <input id="activeInput" type="checkbox" name="Event_Active" />
                </td>
            </tr>
            <tr>
                <td>Event Arranger Id</td>
                <td>
                    <input id="arrangerInput" type="number" name="Event_Arranger_Id" />
                </td>
            </tr>
            <tr>
                <td>Event Seeking Voulunteers</td>
                <td>
                    <input id="voulunteersInput" type="checkbox" name="Event_Seeking_Volunteers" value="true"/>
                </td>
            </tr>
            <tr>
                <td>Event Location Id</td>
                <td>
                    <input id="locationInput" type="number" name="Event_Facility_Id" />
                </td>
            </tr>

            <tr>
                    <td>Event Category</td>
                    <td>
                        @*<input type="number" name="Category_Id" value="1" />*@
                    <td> @Html.DropDownList("Category_Id", new SelectList(ViewBag.Category_Id, "Value", "Text")) </td>  
                </tr>
            <tr>
                <td>Event Description</td>
                <td>
                    <input id="descriptionInput" type="text" name="Event_Description" />
                </td>
            </tr>
            <tr>
                <td>Event Ticket Price</td>
                <td>
                    <input id="priceInput" type="number" name="Event_Ticket_Price" />
                </td>
            </tr>
            <tr>
                <td>Event Start Date</td>
                <td>
                    <input id="dateInput" type="datetime-local" width="10" class="date" name="Event_Start_Datetime" />
                </td>
            </tr>
            <tr>
                <td>Event End Date</td>
                <td>
                    <input id="dateInput" type="datetime-local" width="10" class="date" name="Event_End_Datetime" />
                </td>
            </tr>
        </table>
        <button type="submit">Create Event</button>
    </div>

    //Förslag på form

@*<div class="container" style="border:8px double purple ">
    <div class="div_labelform">

    <label for="nameInput">Event Name</label>
    <input id="nameInput" type="text" name="Event_Name" /><br />

    <label for="activeInput">Event Active</label>
    <input id="activeInput" type="checkbox" name="Event_Active" /><br />

    <label for="arrangerInput">Event Arranger Id</label>
    <input id="arrangerInput" type="number" name="Event_Arranger_Id" /><br />

    <label for="voulunteersInput">Event Seeking Voulunteers</label>
    <input id="voulunteersInput" type="checkbox" name="Event_Seeking_Volunteers" /><br />

    <label for="locationInput">Event Location Id</label>
    <input id="locationInput" type="number" name="Event_Location_Id" /><br />

    <label for="category">Event Category</label>
    <select id="category" name="category">
        <option value="music">Music</option>
        <option value="art">Art</option>
        <option value="holiday">Holiday</option>
    </select><br />

    <label for="descriptionInput">Event Description</label>
    <input id="descriptionInput" type="text" name="Event_Description" /><br />

    <label for="priceInput">Event Ticket Price</label>
    <input id="priceInput" type="number" name="Event_Ticket_Price" /><br />

    <label for="dateStartInput">Event Start Date</label>
    <input id="dateStartInput" type="date" name="Event_Start_Datetime" /><br />

    <label for="dateEndInput">Event End Date</label>
    <input id="dateEndInput" type="date" name="Event_End_Datetime" /><br />

    <button type="submit">Create Event</button>
    </div>

</div>*@



}