@{
    ViewBag.Title = "Index";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />



<p class="p_welcome">Welcome! [insert username]</p>

<p class="p_welcome">Choose an action in the menu</p>

