@{
    ViewBag.Title = "Index";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />

<h2 style="text-align:center">Oranizer First page after login</h2>

<p class="p_welcome">Välkommen! [insert username]</p>

