@{
    ViewBag.Title = "Index";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />



<p class="p-welcome">Välkommen! @ViewBag.userName</p>

<p class="p-choose">Välj "skapa event" för att skapa ett nytt event. Vill du se tidigare skapade event, klicka på "Mina Event"</p>

