@{
    ViewBag.Title = "Index";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />

<h2 style="text-align:center">Home</h2>

<p class="p_welcome">Welcome! [insert username]</p>

<p class="p_welcome">Choose action in menu</p>

