nav > * {
    text-transform: capitalize;
    font-size: 20px;
}

nav {
    background-color: #add8e6 !important;
}

.navbar-brand {
    font-size: 35px;
    font-family: Stencil, sans-serif;
}

body > * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
