* {
    font-family: Rockwell, serif;
}
nav {
    background-color: rgba(229, 110, 149, 0.7);
}
.navName {
    color: white;
    margin-right:15px;
}
li {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    border-radius: 15px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    /*padding: 0;*/
    overflow: hidden;
    background-color: #333;
}
.active1 {
    background-color: #A24E6A;
    font-size: 30px;
}
